/* 
 * @file Button.css
 * @description Stylesheet for the Button component in the Teacher Empowerment frontend application.
 * @version 1.0.0
 * @date 2025-01-12
 * @authors 
 *   - Edward Alvin
 *   - Stephanie Staniswinata
 * 
 * @details
 * This file contains the CSS styles for the Button component, including styles for different button types and states.
 */

.custom_button {
    color: black;
    border: 2px solid black;
    height: 40px;
    width: auto;
    border-radius: 10px;
    /* margin-left: 10px; */
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin: 5px;
}

.dropdown {
    background-color: #1A48D0;
    color: white;
    height: 100%;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px;
    border: none;
}

.custom {
    background-color: white;
    border: 0;
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

.slack {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 0;
    background-color: white;
    border-radius: 10px;
}

.logo {
    height: 20px;
    margin-right: 5px;
}

.logo_slack {
    height: 20px;
    margin-bottom: 10px;
}

.custom_button:hover {
    background-color: rgb(212, 212, 212);
}

.download_container{
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
}