/* 
 * @file Button.css
 * @description Stylesheet for the Button component in the Teacher Empowerment frontend application.
 * @version 1.0.0
 * @date 2025-01-15
 * @authors 
 *   - Edward Alvin
 *   - Stephanie Staniswinata
 * 
 * @details
 * This file contains the CSS styles for the Button component, including styles for different button types and states.
 */

.chip_base {
    background-color: white;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-right: 10px;
}

.increase {
    background-color: var(--lightgreen);
}

.decrease {
    background-color: var(--red);
}

.chip_top {
    /* background-color: blue; */
    display: flex;
    height: 80%;
    width: 100%;
}

.chip_bottom {
    background-color: #FFF7C9;
    height: 20%;
    border-radius: 0px 0px 15px 15px;
    /* color: white; */
    display: flex;
    align-items: center;
}

.chip_bottom p {
    align-items: center;
    margin: 0;
    margin-left: 8%;
    font-size: 14px;
}

.chip_text {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 5%;
    width: 55%;
}

.chip_title {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.chip_data {
    text-align: left;
    font-size: 12px;
}

.chip_sub {
    text-align: left;
    font-size: 14px;
}

.chip_percentage {
    display: table;
    width: 35%;
    margin-right: 5%;
}

.chip_number {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 48px;
    font-weight: 800;
    color: var(--green);
}

.label_chip {
    border-radius: 50px;
    color: white;
    padding: 2px 5px;
}

.high {
    background-color: rgba(174, 81, 255, 0.3);
    color: #c441e5;
}

.medium {
    background-color: rgba(0, 255, 17, 0.416);
    color: #66ab00;
}

.low {
    background-color: rgba(255, 162, 0, 0.3);
    color: #8a5c00;
}

.decrease {
    background-color: rgba(230, 0, 8, 0.3);
    color: #A30D11;
}

.none {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.improvement {
    background-color: rgba(0, 255, 17, 0.416);
    color: #325300;
}