.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.header-container h2 {
  margin-top: 2%;
}

label {
  font-weight: 500;
  font-size: small;
}

.course-slot-selector {
  display: flex;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5px;
}

select {
  background-color: #1A48D0;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  padding: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #c3c3c3;
  width: 100%;
  margin: 20px 0;
}

.back {
  display: flex;
  align-items: center;
  width: 20%;
}

.arrow-container{
  margin-right: 5%;
  /* padding-right: 10%; */
}

h3{
  width: auto;
}

.date{
  font-size: 14px;
}