.sidebar{
    width: 100%;
    background-color: #0155FF;
    height: auto;
    color: white;
}

.sidebar-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the container */
    overflow: hidden; /* Hide any overflow content */
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
  
  /* .cropped-image {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: auto; 
  } */

  .colearn_logo{
    height: auto;
    width: 100%;
  }

  Link{
    text-decoration: none;
    color: inherit;
    /* height: 30px; */
  }