.sidebar{
    width: 100%;
    background-color: #0155FF;
    height: auto;
    color: white;
}

.sidebar-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the container */
    overflow: hidden; /* Hide any overflow content */
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
  
  .cropped-image {
    position: absolute;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Keep the image width */
    height: auto; /* Maintain aspect ratio */
  }

  .colearn_logo{
    height: auto;
  }