/* 
 * @file Table.css
 * @description Stylesheet for the Table component in the Teacher Empowerment frontend application.
 * @version 1.0.0
 * @date 2024-12-24
 * authors 
 *   - Edward Alvin
 *   - Stephanie Staniswinata
 * 
 * @details
 * This file contains the CSS styles for the Table component, including layout, color schemes, and styling for table elements.
 */

.custom_table {
    width: 98%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}


.custom_table th,
.custom_table td {
    padding: 10px 10px;
    width: 125px;
    height: 50px;
    text-align: center;
    font-size: small;
}

.select{
    width: 20px;
}

.custom_table th {
    color: white;
}

.custom_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom_table tr:nth-child(odd) {
    background-color: white;
}

.custom_table tr:hover {
    background-color: #f1f1f1;
}

.custom_table input[type="text"] {
    width: 90%;
    border: 0;
    border-radius: 4px;
    margin-top: 5px;
}

.custom_table input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}